:root {
    --brand-color: #434455;
    --text-font-family: 'Roboto', sans-serif;
    --header-font-family: 'Raleway', sans-serif;
    --brand-color: #4D5AE5;
    --brand-color: #404bbf;
    --brand-color: #2e2f44;
    --brand-color: #31d0aa;
    --brand-color: #8e8f99;
    --brand-color: #f7e9fc;
    --brand-color: #f4f4fd;
    --brand-color: #2e2f42;
    --brand-color: white;
    --brand-color: #fcfcfc;
}

body {
    font-family: var(--text-font-family);
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.logo-studio {
    color: #2E2F42;
}

.logo {
    font-family: var(--header-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

.link:hover {
    color: #404bbf;

}

.link:focus {
    color: #404bbf;

}

.list-a {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-a:hover {
    color: #404bbf;
}

.list-address {
    color: #434455;
    letter-spacing: 0.02em;
    columns: #434455;
}

.list-a:focus {
    color: #404bbf;
}

a:hover {
    background-color: #8e8f99;
    color: white;
}

a:focus {
    background-color: #8e8f99;
    color: white;
}



.address {
    font-style: normal;
}

.title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.title-what-are-we-doing {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.title-our-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.footer-paragraf {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.btn {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.btn:hover {
    color: white;
    background-color: #404BBF;
}